/****
Colors used:
Primary Color (Martini Blue): #52B6D6;
Secondary Color (Dark Blue): #1E2633;
Tertiary(?) Color (Racing Red): #CA0000;
Highlight Color (Podium Gold): #BC990A;
*****/

/***** Body STYLES ONLY, SON! *****/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px; /* sets font size to 16px */
  font-weight: 400; /* sets font weight to 400 */
  line-height: 1.6; /* sets line height to 1.6 * the font size */
  color: #1e2633;
}
header {
  background-color: #ffffff;
  padding: 10px 0 4px;
  border-bottom: 3px solid #1e2633;
  box-shadow: 0px 6px 4px 0px rgba(50, 50, 50, 0.32);
  position: fixed;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

/***** TEXT STYLES ONLY, YO *****/
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-family: "Raleway";
  line-height: 1.4;
  font-size: 2.75em;
  font-weight: 700;
}
h2 {
  font-family: "Raleway";
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-family: "Raleway";
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-family: "Raleway";
  font-size: 1.35em;
  font-weight: 400;
}

/***** IMAGES ONLY YA HERD?!  ********/
img {
  width: 100%;
}
@keyframes pulse {
  0% {
    fill: #ffffff;
  }
  49% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  100% {
    fill: #CA0000;
  }
}
@keyframes cloud-move {
  from {
    transform: translate(0, 25px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0, 30px);
  }
}
/* radio tower light */
.st50 {
  animation: .9s pulse infinite alternate linear;
}
/* left cloud */
.st46 {
  animation: 30s cloud-move infinite alternate linear;
}
/* right cloud */
.st45 {
  animation: 10s cloud-move-reverse infinite alternate linear;
}

/***** LINKS AND BUTTONS ****/
a {
  color: #52b6d6;
  text-decoration: none;
}
a:visited {
  /* visited link */
  color: #3eacc6;
  text-decoration: none;
}
a:focus a:hover {
  color: #1e2633;
  text-decoration: underline;
}
a:active {
  /* selected link */
  color: #1e2633;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ca0000;
  color: #ffffff !important; /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #930505; /* width of the border, type, color */
  transition-duration: 0.6s;
  transition-property: opacity;
}
.button:hover {
  background-color: #1e2633;
  border-bottom: 2px solid #090f16;
  text-decoration: none;
  opacity: 0.6;
}
.button.contact {
  background-color: transparent;
  color: #1e2633 !important;
  text-transform: uppercase;
  text-align: center;
  display: block;
  max-width: 200px;
  margin: auto;
  border: 2px solid #1e2633;
}
.button.contact:hover {
  background-color: #1e2633;
  color: #ffffff !important;
}

/**** Layout styling ****/
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25 px top and bottom, 0 left and right */
}
#work .row {
  padding-bottom: 25px;
  border-bottom: 3px solid #bc990a;
}
#about .row {
  padding-bottom: 25px;
  border-bottom: 3px solid #bc990a;
}
#project .row {
  padding-bottom: 25px;
  border-bottom: 3px solid #bc990a;
}
#project h1 {
  text-align: center;
}
#about h1 {
  text-align: center;
}
#work h2 {
  text-align: center;
}
#contact h2 {
  text-align: center;
}
#contact p {
  text-align: center;
}
#hero h1 {
  text-align: center; /*  centers text  */
  color: #ffffff;
}
#hero p {
  color: #ffffff;
  text-align: center;
  padding: 0 5%;
}
.logo {
  max-width: 150px;
}
.social > ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.social > ul > li {
  display: inline-block;
}
.social > ul > li > a {
  padding: 0 5px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position:  relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0px;
  top: 11px;
  font-size: 20px;
  padding-right: 10px;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #52b6d6;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #BC990A;
}
.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}
nav > ul > li > a:visited {
  color: #1e2633;
}
nav > ul > li > a:hover {
  text-decoration: underline;
}
nav > ul > li > a:active {
  color: #52b6d6;
}
#hero {
  background-color: #1e2633;
  padding: 20px 0;
  width: 100%;
}
main {
  padding-top: 75px;
}
.caption {
  color: #bc990a;
  font-size: 0.85em;
  font-family: courier;
  font-style: italic;
}
.tr-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 15px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 15px;
  }
  nav > ul {
    margin: 1em 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  .navtoggle.responsive li {
    border-top: none;
    padding: 0px;
  }
  .logo {
    float: left;
    max-width: 250px;
  }
  #hero span {
    display: block;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }
  .row:after {
    content: "";
    clear: both;
    display: table;
  }
  #about h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  main {
    padding-top: 99px;
  }
  .skills {
    padding-left: 15px;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58%;
  }
  .col-lg-5 {
    width: 42%;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    padding-top: 99px;
  }
  .skills {
    float: left;
  }
}
